body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.search-nav {
  margin: auto;
  position: relative;
}

.search {
  width: 70%;
}

.close-icon {
  position: absolute;
  right: 80px;
  top:10%;
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  z-index:1;
  bottom: 0;
  margin: auto;
  padding: 2px;
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}
.user_name{
  font-size:14px;
  font-weight: bold;
}
.comments-list {
  border-bottom: 3px dotted #ccc;
}
.media{
  padding: 8px;
  border: 1px solid #ccc;
}

.hidden
{
  display: none;
}

ul .active{
  color: #fff !important;
  background-color: #5bc0de !important;
  border-color: #5bc0de !important;
}
ul .list-group-item:hover{
  color: #fff !important;
  background-color: #5bc0de !important;
  border-color: #5bc0de !important;
}