{% extends 'shop/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="http://placehold.it/150x150" id="imgProfile"
                                    style="width: 150px; height: 150px" class="img-thumbnail" />
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{user.email}}</h2>
                                <h6 class="d-block"><a href="{% url 'account:password_change' %}">Change password</a>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div id="exTab1" class="container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#1" data-toggle="tab">Overview</a>
                            </li>
                            <li><a href="#2" data-toggle="tab">Orders</a>
                            </li>
                        </ul>

                        <div class="tab-content ">
                            <div class="tab-pane active" id="1">

                                <table class="table">
                                    <tr>
                                        <th>Created</th>
                                        <td>{{ user.created }}</td>
                                    </tr>

                                </table>
                            </div>
                            <div class="tab-pane" id="2">
                                {% if user.order_set %}
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Order no.</th>
                                            <th scope="col">Created</th>
                                            <th scope="col">Total value</th>
                                            <th scope="col">status</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in user.order_set.all %}
                                        <tr>
                                            <td>{{order.pk}}</td>
                                            <td>{{order.created}}</td>
                                            <td>{{order.get_total_cost}}</td>
                                            <td>{% if order.paid %}Paid{% else %}Waiting for payment
                                                {% endif %}</td>
                                            <td><a href="{% url 'account:order_detail' pk=order.pk %}"
                                                    class="btn btn-secondary">Detail</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {%  endif %}
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}