{% extends 'staff/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<div>
    <h2>Add new product:</h2>
    <div class="row">
        <div class="col">
            <a href="{% url 'staff:product_list' %}" class="btn btn-info">Go back</a>
        </div>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {{form|crispy}}
    </fieldset>
    <div>
        <button type="submit" class="btn btn-info">Add</button>
    </div>
</form>
{% endblock %}
