{% extends 'staff/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col">
        <div>
            <h2>Comments</h2>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'staff:panel' %}" class="btn btn-info">Go back</a>
            </div>
        </div>
        {% with comments.count as total_comments %}
        <small>Total comments: {{total_comments}} </small>
        {% endwith%}



        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">User</th>
                    <th scope="col">Date created</th>
                    <th scope="col">Published</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr class="{% if comment.is_new %} table-primary {% endif %}">
                    <td>{{comment.product.name}} </td>
                    <td>{{comment.user}}</td>
                    <td>{{comment.date_created}}</td>
                    <td>{% if comment.is_active %} &check;
                        {% else %}
                        &cross;
                        {% endif%}</td>
                    <td><a href="{% url 'staff:comment_detail' pk=comment.pk %}" class="btn btn-secondary">Detail</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}