{% extends 'staff/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<h2>Discount {{product.name}}:</h2>
<div class="row">
    <div class="col">
        <a href="{% url 'staff:product_list' %}" class="btn btn-info">Go back</a>
    </div>
</div>

<div class="discounts-list">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">start</th>
                <th scope="col">end</th>
                <th scope="col">discount percent</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for discount in discounts %}
            {% if discount.is_active %}
            <tr>
                <td>{{discount.start_time}} </td>
                <td>{{discount.end_time}}</td>
                <td>{{discount.discount_percent}} &percnt;</td>
                <td>{% if discount.category_discount %}
                    category discount
                    {% else %}
                    product discount
                    {% endif %}
                </td>
                <td>
                    <form method="GET" action="{% url 'staff:delete_product_discount' pk=discount.pk  %}"><input
                            type="submit" class="btn btn-danger" value="delete"></form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<h2>Add new discount</h2>

<form id="discount-form" method="POST">
    {% csrf_token %}
    <fieldset>
        {{form|crispy}}
    </fieldset>
    <div>
        <button type="submit" class="btn btn-info">Add</button>
    </div>
</form>
{% endblock %}