{% extends 'staff/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col">
        <div>
            <h2>Products</h2>
            <div class="row">
                <div class="col">
                    <a href="{% url 'staff:panel' %}" class="btn btn-info">Go back</a>
                </div>
                <div class="col text-right">
                    <a href="{%url 'staff:add_product'%}" class="btn btn-info">Add product</a>
                    <a href="{%url 'staff:list_from_api'%}" class="btn btn-info">Search</a>
                </div>
            </div>
        </div>



        {% with products.count as total_products %}
        <small>Total products: {{total_products}} </small>
        {% endwith%}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products%}
                <tr>
                    <td>{{product.name}} </td>
                    <td>{{product.category}}</td>
                    <td>{{product.stock}}</td>
                    <td>{{product.price}}</td>
                    <td><a href="{%url 'staff:update_product' pk=product.pk%}" class="btn btn-secondary">Edit</a></td>
                    <td><a href="{%url 'staff:discount_product' pk=product.pk%}" class="btn btn-info">Discount</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
