{% extends 'staff/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<h2>Update {{product.name}}:</h2>
<div class="row">
    <div class="col">
        <a href="{% url 'staff:product_list' %}" class="btn btn-info">Go back</a>
    </div>
    <div class="col text-right">
        <a href="{%url 'staff:delete_product' pk=product.pk%}" class="btn btn-danger">Delete product</a>
    </div>
</div>



<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {{form|crispy}}
    </fieldset>
    <div>
        <button type="submit" class="btn btn-info">Update</button>
    </div>
</form>
{% endblock %}
