{% extends 'staff/base.html' %}

{% block content %}

<h2>User {{user.email}}</h2>
<div class="row">
    <div class="col">
        <a href="{% url 'staff:user_list'%}" class="btn btn-info">Go back</a>
    </div>
</div>
<div class="d-flex justify-content-start">
    <div class="image-container">
        <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px"
            class="img-thumbnail" />
    </div>
    <div class="userData ml-3">
        <table class="table">
            <tr>
                <th>Created</th>
                <td>{{ user.created }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="col-12">
    <div class="tab-content ml-1" id="myTabContent">


        <h3>Orders placed</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Date created</th>
                    <th scope="col">Order state</th>
                    <th scope="col">User</th>
                    <th scope="col">Total value</th>
                </tr>
            </thead>
            <tbody>
                {% for order in user.order_set.all %}
                <tr>
                    <td>{{order.id}} </td>
                    <td>{{order.created}}</td>
                    <td>{% if order.paid %}Paid{% else %}Waiting for payment
                        {% endif %}</td>
                    <td>{{order.user}}</td>
                    <td> {{order.get_total_cost}}</td>

                    <td><a href="{% url 'staff:order_detail' pk=order.pk %}" class="btn btn-secondary">Detail</a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
</div>

{% endblock %}