{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bookworm - the bookshop</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    {% block extrastyle %}
    {% endblock %}
    <link href="{% static 'css/shop.css' %}" rel="stylesheet">
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'shop:index' %}">Bookworm</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'shop:index' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'shop:about' %}">About</a>
                    <a class="nav-item nav-link" href="{% url 'contact:contact' %}">Contact</a>
                    <a class="nav-item nav-link" href="{% url 'subscription:subscription' %}">Newsletter</a>
                </div>
                <div class="search-nav">
                    <form action="." method="get">
                        <input type="text" name="q" class="search" value="{% if query %}{{ query }}{% endif %}">
                        <button type="submit" class="btn-dark">Search</button>
                        {% if query %}
                        <button type="submit" formmethod="post" class="close-icon" name="clear-button"></button>
                        {% csrf_token %}
                        {% endif %}
                    </form>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <button class="btn btn-info pull-right">
                        {% with totail_items=cart|length %}
                        {% if cart|length > 0 %}
                        My Shopping Order:
                        <a href="{% url 'cart:cart_detail' %}" style="color: #ffffff">
                            {{ totail_items }} item{{ totail_items|pluralize }}, $ {{ cart.get_total_price }}
                        </a>
                        {% else %}
                        Your cart is empty.
                        {% endif %}
                        {% endwith %}

                    </button>

                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'account:profile'%}">
                        Your profile
                    </a>
                    <a class="nav-item nav-link" href="{% url 'account:logout' %}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'account:login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'account:register' %}">Register</a>
                    {% endif %}


                </div>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">


            {% block content%}


            {% endblock%}

        </div>
        <!-- /.row -->

    </div>

    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Bookworm 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>