{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}


{% include 'shop/categories.html' %}

<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
</head>

<div class="col-lg-9">

    <div class="card mt-4 product-info">
        <img class="card-img-top img-fluid cover-image" src="{{product.image.url}}" alt="">
        <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <h4>${{ product.price }}</h4>
            {% if user.is_authenticated %}
            <button id="likes" data-id="{{product.id}}" class="btn btn-danger fa fa-heart" type="button">
                {% if product.likes > 0 %}
                {{ product.likes }}
                {% endif %}
            </button>
            {% endif %}
            {% if not user.is_authenticated %}
            <button id="likes1" disabled data-id="{{product.id}}" class="btn btn-danger fa fa-heart" type="button">
                {% if product.likes > 0 %} {{ product.likes }} {% endif %}
            </button>
            {% endif %}
            <p class="card-text">{{ product.description}}</p>

            <span class="ratings">
            {% if product.count_rating %}
            <span class="text-warning">
                {% for s in stars %}
                <span data-star="{{s}}">
                &#9733;
                </span>
                {% endfor %}
                {% for s in empty_stars %}
                <span data-star="{{s|add:rating}}">
                &#9734;
                    </span>
                {% endfor %}
            </span>
            {% else %}
            <span class="text-secondary">
                {% for i in stars %}
                <span data-star="{{i}}">
                   &#9733;
                </span>
                {% endfor %}
                    This product is not rated

            </span>
            {% endif %}
    </span>

            {% if user.is_authenticated %}
            <form action="{% url 'shop:add_rating' product_id=product.id  %}" method="post">
                {% csrf_token %}
                <div id="field1">


                    {{ rating_form }}

                </div>
            </form>
            {% endif %}


            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                <div id="field">
                    <!--<button type="button" id="sub" class="sub">-</button>-->
                    {{ cart_product_form }}
                    <!--<button type="button" id="add" class="add">+</button>-->
                </div>
                <input type="submit" value="add to cart" class="btn btn-primary">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <div class="page-header">
                {% with comments.count as total_comments %}
                <small class="pull-right">{{ total_comments }} comments</small>
                {% endwith %}
            </div>
            <div class="comments-list">
                {% for comment in comments %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading user_name">{{ comment.user }}</h4>
                        <form class="comment-{{comment.pk}}"
                              action="{% url 'shop:edit_comment' comment_pk=comment.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="text" name="body" value="{{comment.body}}" class="hidden body-input">
                            <div class="body-text">{{comment.body}}</div>

                            {% if user.id == comment.user_id and comment.is_editable%}
                            <input type="submit" value="save" class="hidden submit-button">
                            <input type="button" value="edit" class=" edit-button"
                                   onclick="switchVisibiliy({{comment.pk}})">
                            {% endif %}
                        </form>
                    </div>


                </div>
                {% endfor %}
                {% if user.is_authenticated %}
                <div class="media">
                    <div class="media-body">
                        <form method="POST" action="{% url 'shop:add_comment' product_pk=product.pk %}">
                            {% csrf_token %}
                            {{ form|crispy}}
                            <button type="submit">Add Comment</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>


        </div>
    </div>

    <!-- /.card -->

</div>
<!-- /.col-lg-9 -->

<script>
    function switchVisibiliy(comment_pk) {
        form = document.querySelector(".comment-" + comment_pk);
        form.querySelector(".body-text").classList.toggle('hidden');
        form.querySelector(".body-input").classList.toggle('hidden');
        form.querySelector(".submit-button").classList.toggle('hidden');
        form.querySelector(".edit-button").classList.toggle('hidden');
    }






</script>
<script>
    document.querySelectorAll(".ratings > span > span" ).forEach(s => s.addEventListener("mouseover", () => console.log("cos")));





</script>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
{% csrf_token %}
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();






</script>

{% block extrajs %}
<script src="{% static 'js/like_button.js' %}"></script>

{% endblock%}
{% endblock%}