{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block content%}


{% include 'shop/categories.html' %}

<div class="col-lg-9">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="{{product.image.url}}" alt="">
        <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <h4>${{ product.price }}</h4>
            <p class="card-text">{{ product.description}}</p>
            {% if product.count_rating %}
            <span class="text-warning">
                {% for s in stars %}
                &#9733;
                {% endfor %}
                {% for s in empty_stars %}
                &#9734;
                {% endfor %}

                {% else%}
                This product is not rated
                {% endif %}
            </span>

            <!--<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>-->
            <!--4.0 stars-->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <div class="page-header">
                {% with comments.count as total_comments %}
                <small class="pull-right">{{ total_comments }} comments</small>
                {% endwith %}
            </div>
            <div class="comments-list">
                {% for comment in comments %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading user_name">{{ comment.user.username  }}</h4>
                        <p><small>{{comment.updated}}</small></p>
                        {{comment.body}}
                    </div>
                </div>
                {% endfor %}
                {% if user.is_authenticated %}
                <div class="media">
                    <div class="media-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy}}
                            <button type="submit">Add Comment</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>



        </div>
    </div>

    <!-- /.card -->

</div>
<!-- /.col-lg-9 -->



{% endblock%}