{% extends 'shop/base.html' %}
{% block content%}


{% include 'shop/categories.html' %}

<div class="col-lg-9">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="{{product.image.url}}" alt="">
        <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <h4>${{ product.price }}</h4>
            <p class="card-text">{{ product.description}}</p>
            <span class="text-warning">
            {% for s in stars %}
               &#9733;
            {% endfor %}
                {% for s in empty_stars %}
               &#9734;
            {% endfor %}
                </span>

            <!--<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>-->
            <!--4.0 stars-->
        </div>
    </div>
    <!-- /.card -->

</div>
<!-- /.col-lg-9 -->



{% endblock%}